numpy==1.26
jax==0.4.26
absl-py
git+https://github.com/google/CommonLoopUtils
einops
flax
optax
git+https://github.com/google/flaxformer
git+https://github.com/akolesnikoff/panopticapi.git@mute
overrides
tensorflow<2.16.0
tfds-nightly
tensorflow-addons
tensorflow-text
tensorflow-gan
keras<3.0.0
tensorflow-addons
matplotlib